@font-face {
    font-family: "Din-Pro-Condensed-Bold";
    src: url('../fonts/Din Pro Condensed Bold.otf') format("opentype");
}
@font-face {
    font-family: "DIN-Pro-Condensed-Medium";
    src: url('../fonts/DIN Pro Condensed Medium.otf') format("opentype");
}
@font-face {
    font-family: "DIN-Pro-Condensed-Regular";
    src: url('../fonts/DIN Pro Condensed Regular.otf') format("opentype");
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t02s09');
  src:  url('../fonts/icomoon.eot?t02s09#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t02s09') format('truetype'),
    url('../fonts/icomoon.woff?t02s09') format('woff'),
    url('../fonts/icomoon.svg?t02s09#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\e9d9";
  color:white;
  font-size: 13px;
}
