@font-face {
    font-family: "Din-Pro-Condensed-Bold";
    src: url('../fonts/Din Pro Condensed Bold.otf') format("opentype");
}
@font-face {
    font-family: "DIN-Pro-Condensed-Medium";
    src: url('../fonts/DIN Pro Condensed Medium.otf') format("opentype");
}
@font-face {
    font-family: "DIN-Pro-Condensed-Regular";
    src: url('../fonts/DIN Pro Condensed Regular.otf') format("opentype");
}
