*{
  color:#433111;
}

body{
  background-image: url("../imgs/stadium-blur-2.jpg");
  background-size:cover;
}
.green{
  color:#467200;
}

.softgreen{
  color:#90c039;
}

.orange{
  color:#f2b600;
}

.softorange{
  color:#d47c00;
}

.red{
  color:#bf3030;
}

.container{
  margin-top: 20px;
  background-color: white;
}

#cancha{
  float: left;
  margin: 0 auto;
  width: 59%;
}

.playerInfo{
  margin-bottom: 50px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  padding: 10px 10px 30px 10px;
}

.lineStats{
  display: block;
  margin-top: 30px;
}

.detailedStats{
  width: 40%;
  display: inline-block;
  margin-left: 6.4%;
  /*float: left;*/
}

.detailedStats div .line{
  margin-bottom: 2px;
  border-bottom: .2px solid rgb(201, 202, 202);
}


.detailedStats .titleLine{
  margin-bottom: 10px;
}

.detailedStats .titleLine .attributeGlobalTitle{
  font-family: 'DIN-Pro-Condensed-Bold';
  font-size: 28px;
}

.detailedStats .titleLine .attributeGlobalValue{
  font-family: 'DIN-Pro-Condensed-Bold';
  font-size: 32px;
  float: right;
}

.detailedStats div .line .attributeTitle{
  font-family: 'DIN-Pro-Condensed-Medium';
  font-size: 18px;
  color:#666;
}

.detailedStats div .line .attributeStats{
  float: right;
  font-family: 'DIN-Pro-Condensed-Medium';
  font-size: 18px;
}

.search{
  float: right;
  width: 40%;
  border-radius: 5px;
  background-color: rgba(237, 87, 0,0.3);
  /*background-image: url('../imgs/background-search.png');*/
  /*background-size:cover;*/
}

.form{
  text-align: center;
  padding: 10px 0px;
}

.form a{
  color:white;
  padding: 14px 24px;
  border-radius: 10px;
  display: inline-block;
  background-color: rgb(237, 112, 0);
  margin-top: 10px;
  text-decoration: none;
  border-bottom: 4px solid rgb(237, 151, 0);
  box-sizing: border-box;
  font-family: 'DIN-Pro-Condensed-Bold';
}

.form a:active{
  border-bottom: none;
  margin-bottom: 2px;
  margin-top: 12px;
}

.form label{
  font-size: 18px;
  font-family: 'DIN-Pro-Condensed-Medium';
  display: inline-block;
  margin-top: 10px;
}

.form input[type="text"]{
  width: 250px;
  height: 20px;
  font-size: 18px;
  font-family: 'DIN-Pro-Condensed-Bold';
}

.personalizado{
  display: none;
}

.carta{
  width: 180px;
  height: 280px;
  background-position: center;
  background-size: cover;
  /*display: none;*/
  transition: 1s ease all;
  display: block;
  margin: 0 auto;
}

.info{
  width: 16%;
  padding-top: 22%;
  margin-left: 5.2%;
  float: left;
}

.imagen{
  display: inline-block;
  width: 70%;
  /*margin-left: 20%;*/
  margin-top: 18%;
  box-sizing: border-box;
  float: right;
}

.imagen img{
  width: 80%;

}

.media{
  font-size: 30px;
  margin: 0px;
  text-align: center;
  font-family: 'DIN-Pro-Condensed-Bold';
}

.posicion{
  text-align: center;
  font-size: 16px;
  font-family: 'DIN-Pro-Condensed-Bold';
  margin-top:-6px;
}

.club{
  width: 100%;
}

.pais{
  width: 100%;
}

.nombre{
  display: inline-block;
  width: 79%;
  padding-right: 4%;
  margin-top: -9px;
  float: right;
  box-sizing: border-box;
}

.nombre h4{
  font-family: 'DIN-Pro-Condensed-Regular';
  /*font-size: 24px;*/
  font-size: 1.5em;
  text-align: center;
  /*padding-left: 35px;*/
}

h4{
  margin-bottom: 0px;
  margin-top: 0px;
}

.stats{
  /*margin-top: 96px;*/
  margin: 0% 5%;
  width: 70%;
  float: right;
}

p{
  display: block;
  font-family: arial;
  /*font-size: 14px;*/
  margin: 0px 0px 0px 0px;
}

.numero{
  font-family: 'DIN-Pro-Condensed-Bold';
  /*font-size: 20px;*/
  font-size: 1.2em;
}

.caracteristica{
  font-family: 'DIN-Pro-Condensed-Medium';
  font-size: 1em;
}

.left{
  width: 48%;
  text-align: left;
  display: inline-block;
  padding-left: 8%;
  box-sizing: border-box;
}

.right{
  display: inline-block;
  width: 48%;
  padding-left: 10%;
  box-sizing: border-box;
  text-align: left;
}
