*{
  color:#433111;
}

body{
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container{
  margin-top: 20px;
  background-color: white;
}

#cancha{
  float: left;
  margin: 0 auto;
  width: 59%;
}

/* ASIDE SEARCH AND PLAYER INFO */

.specificInfo{
  margin-top: 2%;
}

.specificInfo #inf div .line{
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.specificInfo #inf div .line:last-child{
  margin-bottom: 0px;
}

.specificInfo #inf div .line .attributeStats{
  color:white;
  font-size: 20px;
}

.specificInfo #inf div .line .attributeTitle{
  font-size: 20px;
}

.playerInfo{
  margin-bottom: 50px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  padding: 10px 10px 30px 10px;
}

.lineStats{
  display: block;
  margin-top: 30px;
}

.detailedStats{
  width: 40%;
  display: inline-block;
  margin-left: 6.4%;
}

.detailedStats div .line{
  margin-bottom: 2px;
  border-bottom: .2px solid rgb(201, 202, 202);
}

.detailedStats .titleLine{
  margin-bottom: 10px;
}

.detailedStats .titleLine .attributeGlobalTitle{
  font-family: 'DIN-Pro-Condensed-Bold';
  font-size: 28px;
}

.detailedStats .titleLine .attributeGlobalValue{
  font-family: 'DIN-Pro-Condensed-Bold';
  font-size: 32px;
  float: right;
}

.detailedStats div .line .attributeTitle{
  font-family: 'DIN-Pro-Condensed-Medium';
  font-size: 18px;
  color:#666;
}

.detailedStats div .line .attributeStats{
  float: right;
  font-family: 'DIN-Pro-Condensed-Medium';
  font-size: 18px;
}

#inf{
  float: none !important;
  width: 85%;
  margin: 0 auto;
  display: block;
  padding: 50px;
}

.search,.specificInfo{
  float: right;
  width: 40%;
  border-radius: 5px;
  background-color: rgba(32, 27, 81,0.5);
}

.form{
  text-align: center;
  padding: 10px 0px;
}

.form a{
  color:black;
  padding: 14px 24px;
  border-radius: 10px;
  display: inline-block;
  background-color: #c0ff36;
  margin-top: 20px;
  text-decoration: none;
  border-bottom: 4px solid #8bb925;
  box-sizing: border-box;
  font-family: 'DIN-Pro-Condensed-Bold';
}

.form a:active{
  border-bottom: none;
  margin-bottom: 2px;
  margin-top: 22px;
}

.form label{
  font-size: 18px;
  font-family: 'DIN-Pro-Condensed-Medium';
  display: inline-block;
  margin-top: 10px;
  color:white;
  padding-bottom: 7px;
}

.form input[type="text"]{
  width: 250px;
  height: 20px;
  font-size: 18px;
  font-family: 'DIN-Pro-Condensed-Bold';
  padding: 5px;
  padding-left: 9px;
  letter-spacing: 1px;
  border: 3px solid black;
  border-radius: 5px;
  -webkit-transition: border .35s ease-in-out;
  transition: border .35s ease-in-out;
  outline:0px;
}

.form input[type="text"]:focus{
  border: 4px solid #c0ff36;
}

.personalizado{
  display: none;
}

/* CARD */

.carta{
  height: 316px;
  width: 202px;
  background-position: center;
  background-size: cover;
  transition: 1s ease all;
  display: block;
  margin: 0 auto;
/* margin: 28px 0px 0px 32px; */
/* display: inline-block; */
}

.info{
  width: 16%;
  padding-top: 22%;
  margin-left: 5.2%;
  float: left;
}

.imagen{
  display: inline-block;
  width: 70%;
  margin-top: 18.5%;
  box-sizing: border-box;
  float: right;
}

.imagen img{
  width: 80%;

}

.media{
  font-size: 30px;
  margin: 0px;
  text-align: center;
  font-family: 'DIN-Pro-Condensed-Bold';
}

.posicion{
  text-align: center;
  font-size: 16px;
  font-family: 'DIN-Pro-Condensed-Bold';
  margin-top:-6px;
}

.club{
  width: 100%;
}

.pais{
  width: 100%;
}

.nombre{
  display: inline-block;
  width: 79%;
  padding-right: 4%;
  margin-top: -2px;
  float: right;
  box-sizing: border-box;
}

.nombre h4{
  font-family: 'DIN-Pro-Condensed-Regular';
  font-size: 1.5em;
  text-align: center;
}

h4{
  margin-bottom: 0px;
  margin-top: 0px;
}

.stats{
  margin: 0% 5%;
  width: 70%;
  float: right;
}

p{
  display: block;
  font-family: arial;
  margin: 0px 0px 0px 0px;
}

.numero{
  font-family: 'DIN-Pro-Condensed-Bold';
  font-size: 1.4em;
}

.caracteristica{
  font-family: 'DIN-Pro-Condensed-Medium';
  font-size: 1em;
}

.left{
  width: 48%;
  text-align: left;
  display: inline-block;
  padding-left: 8%;
  box-sizing: border-box;
}

.right{
  display: inline-block;
  width: 48%;
  padding-left: 10%;
  box-sizing: border-box;
  text-align: left;
}

/* PLAYERS STATS COLORS */

.green{
  color:#467200;
}

.softgreen{
  color:#90c039;
}

.orange{
  color:#f2b600;
}

.softorange{
  color:#d47c00;
}

.red{
  color:#bf3030;
}

/* LOADING */

#loading{
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px;
  margin-top: -20px;
  margin-left: -8px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
  opacity: 0.6;
  display: none;
}

.load{
  position: absolute;
  top: 50%;
  left: 50%;
}

.load > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.load .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.load .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
